<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>パスワード再設定確認</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="container">
        <h2>確認コードを入力</h2>
        <form method="POST">
            <input type="hidden" name="email" value="{{ email }}">
            <label for="code">メールで送られたコード</label>
            <input type="text" id="code" name="code" required>
            <button type="submit">確認</button>
        </form>
        
        <div>
            <a href="{{ url_for('reset_request') }}">メール送信に戻る</a>
            <h6>迷惑メールもご確認ください</h6>
        </div>
    </div>
</body>

</html>
